.head{
	background-color: #3E3101;
}
#banner{
	font-family: 'Black Ops One', cursive;
	float: right;
	font-size: 60px;
	margin-right: 300px;
	margin-top: 40px;
	text-shadow: 18px 18px 18px #000000;

}
#banner p{
	color:#FFCC00;
}
.nav{
	margin:auto;
	width:600px;
}

.navbar{
	border-radius: 0px;
	background: linear-gradient(#151000, #555500);
	margin-bottom: 0px;	
	border-style: none;
	margin-top: 0px;
}

.navbar-default .navbar-nav li a{
	color:#E6E6E6;
	text-shadow: 5px 5px 5px #000000;
	text-decoration: bold;
	font-size: 16px;
	text-align: auto;
}

#logga{
	margin: -40px -5px -85px 0px;
}

#welcome{
	padding-top:30px;
	width: 80%;
	margin:auto;
	font-family: Verdana;
	font-size: 25px;
	text-align: center;
}

.textintro {
	font-family: Verdana;
	text-align: left;
}

.subnav{
	padding-top: 20px;
	float: left;
	
}

.subnav a{
	color:#FFCC00;
	margin-left: 10px;
	text-decoration: none;
}

.subnav a:hover{
	color:black;
}

#login{
	margin-left: 85%;
}

#login a{
	text-decoration: bold;
}

.content{
	background-color:#373700;
	width:auto;
}


.thumbnail{
	background-color: #86722D;
	border-color:#FFCC00;
	margin-top: 25px;
	margin-left: 10px;
}

.btn-default{
	background-color:#373700;
	color: yellow;
	border-color: yellow;
}

.caption h3, p{
	color: #E6E6E6;
}

.mail{
	width: 50%;
	margin:auto;
}

#produktinfo{
	width: 50%;
	margin-left:20%;
	color:#FFCC00; 
}

.container{
	margin: auto;
}

.guideimg{
	height:250px;
	width:200px;
	border-style:solid;
	border-width:3px;
	border-color:#FFCC00;
	margin-top: 20px;
}

.tajt{
	width:70%;
	margin:auto;
}

.tajt p{
	text-align: center;
}

#buy{
	margin-left: 70%;
}

hr {
	border-width: 2px;
	border-color: grey;
}

.guideimg {
	box-shadow: 5px 5px 5px #000000;
}

.col-xs-4 {
	text-align: center;
}