.head{
	background-color: #3E3101;
}
.nav{
	margin:auto;
	width:600px;
}

.navbar{
	border-radius: 0px;
	background: linear-gradient(#151000, #555500);
	margin-bottom: 0px;	
	border-style: none;
}
.navbar-default .navbar-nav li a{
	color:#E6E6E6;
}

#logga{
	margin-left:5px;
}

.subnav{
	padding-top: 20px;
	float: left;
	
}

.subnav a{
	color:#FFCC00;
	margin-left: 10px;
	text-decoration: none;
}

.subnav a:hover{
	color:black;
}

#login{
	float: right;
}

.content{
	background-color:#373700;
	height:auto;
}


.thumbnail{
	background-color: #86722D;
	border-color:#FFCC00;
}
.caption h3, p{
	color: #E6E6E6;
}

.mail{
	width: 50%;
	margin:auto;
}